

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }
  .header{
    margin: 0px 10px;
    border-bottom:1px solid #42A5F5;
    padding: 25px 11px;
  .logo{
    font-size: 26px;
    color: #039be5 !important;
    text-decoration: none;
    font-weight: 800;
    margin-right: 34px;
  }
  .verticleSeperation{
    width: 1px;
    background-color: rgb(65 65 65 / 16%);
    height: 20px;
    margin: 0px 11px;

  }
  .notification{
    position: relative;
.notify{
  color: #488bf6 !important;
  font-size: 58px;
  position: absolute;
  top: -19px;
  left: 9px;
}
  }
  .userprofile{
   line-height: 15px;
    .usename{
      font-size: 13px;
    color: #000000;
    font-weight: 400 !important;
    }
    .role{
      font-size: 10px;
      color: grey;
    }
.userimage{
  margin-left: 5px;
}
  }
}.currentheader{
  margin: 0px !important;
  font-size: 31px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  color: #131313;
  text-transform: capitalize;
}