<div fxLayout="row" class="header" fxLayoutAlign="start center">
    <a routerLink="/home" class="logo" routerLinkActive="active">ALFA</a>
       <h1 class="currentheader"> {{ title }}</h1>
     <div fxFlex fxLayoutAlign="end center">
        <div class="notification">
            <span class="material-symbols-outlined">
                notifications
                </span>
                <span class="notify">
                    .
                </span>
        </div>
        <div class="verticleSeperation">

        </div>
        <div class="userprofile">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div >
                    <div fxLayout="column">
                        <div class="usename">XXXXXXXXXXX </div>
                        <div class="role">XXXXX XXXXXX </div>
                    </div>
                </div>
                <div class="userimage">
                    <img src="../../../../assets/user.png" style="width: 35px;">
                </div>
            </div>
        </div>
            <!-- <a [matMenuTriggerFor]="menu">
                <img src="assets/indiaflag.jpg" style="width: 50px;">
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Contact us</button>
                <button mat-menu-item>Logout</button>
            </mat-menu> -->
        </div>
</div>