.login-card {
    padding: 25px;
    height: 50%;
    border-radius: 20px;
  }
  .subtitle{
    font-size: 11.5px;
  }
  .phonenumber{
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 13px !important;
    font-weight: 500;
    color: #4d4c4c;
  }
  .imagesection{
    position: relative;
    top: 3px;
    padding-right: 2px;
    border-right: 1.4px solid rgba(0, 0, 0, 0.11) !important;
    margin-right: 8px;
  }
  .seperator{
    width: 1px;
    height: 24px;
    position: absolute;
    top: 12px;
    background: rgba(0, 0, 0, 0.11) !important;
    left: 50px;
  }
  .otpbtn{
    margin-right: 5px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
  }
  .example-form-field{
    margin: 10px;
    display: block;
    border: 1px solid black;
    height: 7.7ch;
    border-radius: 6px;
    width: 6.4ch;
   input{
    font: 5ch droid sans mono, consolas, monospace;
    text-align: center;
    margin-top: -20px;
   }
  }
 